:root {
  --red: #dc3545;
}

/*! -------------- 1- NAVBAR ---------------- */
/* .navbar {
  background-color: seashell !important;
} */

.navbar .navbar-nav {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .nav-link {
  transition: color 0.7s;
}

.navbar .nav-link:hover {
  color: var(--red);
}

/*! ------------- 2- CAROUSEL --------------- */

/*! ------------ 3- ABOUT SECTION ----------- */

/*! ------------- 4- INSTRUCTORS -------------*/

/*! ----------- 4- STUDENTS SECTION ----------*/

/*! ----------- 5- COURSES SECTION ----------- */

/*! ----------- 6- CONTACT SECTION ------------ */

/*! --------------- 7- FOOTER ----------------- */
